 <h1>About Us</h1>

<br>

<h3>
    Fiesta Auctions is the place to sell and buy products for your needs!
</h3>
<h3>
    Here's how you can get started:
</h3>

<br>

<ol style="font-size:15px">
    <li>Create an Account</li>
        <p>Feel free to upload a picture of yourself with the <%= link_to "Edit Profile", edit_user_registration_path %> page!</p>
    <li>Buy or Create an Auction</li>
        <p>Use our <%= link_to "New Auction", new_auction_path %> feature to upload a picture of your item!</p>
    <li>Leave a Review</li>
        <p>You can give your opinion on your interactions with sellers with our <%= link_to "Review", reviews_path %> page!</p>
</ol>

<br>

<h3>
    Creators:
</h3>

<ul style="font-size:16px;">
    <li>Isaiah Bryant</li>
    <li>Jack Stevenson</li>
    <li>Logan Newman</li>
    <li>Grace Kigaita</li>
</ul>
