<h1>Fiesta Auctions</h1>

<%= link_to "Auctions", auctions_path %>
<br>
<%= link_to "Sellers", users_path %>
<br>
<%= link_to "About", about_path %>

<h2>Welcome to Fiesta Auctions, where you can sell your items for a desired price and hold auctions to accept whatever bids you like the most! Thank you for stopping by!</h2>
